<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<title></title>
	
</head>
<body>

<div id="wrapper">



		<form action="/process" method="POST">
		  {% csrf_token %}
			<input type="submit" name="reset" value="Reset">
		</form>
		<h1>Ninja <span id="gold">Gold</span>: {{request.session.gold}}</h1>
		<div class="box">
			<h3>Farm</h3>
			<h4>(earn 10-20 golds)</h4>
			<form method="POST" action="/process">
			{% csrf_token %}
			<input type="submit" name="farmgold" value="Find Gold!">
			</form>
		</div>
		<div class="box">
			<h3>Cave</h3>
			<h4>(earn 5-10 golds)</h4>
			<form method="POST" action="/process">
			{% csrf_token %}
			<input type="submit" name="cavegold" value="Find Gold!">
			</form>
		</div>
		<div class="box">
			<h3>House</h3>
			<h4>(earn 2-5 golds)</h4>
			<form method="POST" action="/process">
			{% csrf_token %}
			<input type="submit" name="housegold" value="Find Gold!">
			</form>
		</div>
		<div class="box">
			<h3>Casino</h3>
			<h4>(earns/takes 0-50 golds)</h4>
			<form method="POST" action="/process">
			{% csrf_token %}
			<input type="submit" name="casinogold" value="Find Gold!">
			</form>
		</div>
			<h2>{{request.session.win}}</h2>
			<h2 class="lost">{% now "jS F Y H:i" %} {{request.session.lost}}</h2>
			<h2 id="luck">{{request.session.luck}}</h2>
		<div id="ninja">
			
		</div>
	</div>	

</body>
</html>