.box {
	width: 180px;
	height: 140px;
	display: inline-block;
	margin-left:30px;
	border: 2px solid yellow;
	padding: 30px;
	background-color: black;
}
#wrapper {
	padding-top: 100px;
	width:1150px;
	margin:0 auto;
	text-align: center;
}
#gold {
	color: yellow;
}
body {
	background:url("http://31.media.tumblr.com/b0698842ded8cf3eb521c180e0b24b8c/tumblr_mnii1uCT2t1s9zjv1o1_r1_500.gif");
	background-size: cover;
}
h1,h3,h4 {
	color: white;
}
input {
	background-color: gold;

}
h2 {
	color: green;
}
.lost {
	color:red;
}
#luck {
	color:yellow;
}
/*#ninja {
	width:300px;
	height: 300px;
	margin: 0 auto;
	background: url("http://orig02.deviantart.net/268a/f/2012/095/e/9/my_ninja_slash___animation_by_satsuki99-d4v56mq.gif");
	background-size: cover;
}*/